
/* import fonts */
@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700|Roboto|Playfair+Display&display=swap');
/* end - import fonts */

/* screen header - content - footer */

html, body {
  height: 100%;
}

body {
	font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
	display: flex;
	flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer{
  flex-shrink: 0;
}

/* screen header - content - footer */

/* flex box code */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* end - flex box code */

/* flex footer */

footer {
	padding-top: 40px;
    background-color: #1A202C;
    color: white;
	padding-bottom: 60px;
}

.footer-section {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer-menu{
	max-width: 25%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.footer-menu-title{
	color: #A0AEC0;
	font-size: 24pt;
	line-height: 28px;
	margin-bottom: 20px;
}

.footer-menu-item-header{
	font-weight: bold;
	color: white;
	font-size: 18px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-menu-item{
	color: white;
	font-size: 16px;
	line-height: 19px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-info-item{
	margin-top: 10px;
	color: white;
	font-size: 18pt;
	margin-right: 40px;
}

.footer-info-item i{
	color: #63B3ED;
	padding-right: 5px;
}

a:hover {
    text-decoration: underline;
}

/*** main content pages section ***/

/* header menu */

.navbar{
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar .spacer{
	width: 5%;
}

.logo{
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 24pt;
	padding-right: 30px;
}

.nav-link{
	font-size: 18pt;
}

.menu-main-link{
	padding-right: 20px;
}

.navbar .flex-1 {
    flex: 1;
    flex-basis: 100%;
}

.search-menu-btn{
	background: white;
}

@media (max-width: 600px)
{
	.navbar .spacer{
		width: 0%;
	}
}

/*** elements ***/

.download-btn{
	background: #5A67D8;
	border-radius: 4px;
	color: white !important;
	font-size: 16pt;
	line-height: 135%;
	padding: 10px 20px;
}

.link-btn{
	background: #1A202C;
	border-radius: 4px;
	color: white !important;
	font-size: 16pt;
	line-height: 135%;
	padding: 10px 20px;
}

/*** end - elements ***/


/* end - main content pages section */

/* index page */ 

.updates-container{
	width: 100%;
	background-color: #44428e;
}

.updates-section {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.updates-section-panels {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	padding-bottom: 20px;
}

.updates-section h2{
	font-family: Playfair Display;
	color: white;
	font-size: 24pt;
	padding-bottom: 20px;
	font-weight: bold;
}

.update-panel{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	max-width: 45%;
}

.update-img{
	background: white;
	border: 0px solid white;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	min-height: 60px;
	min-width: 60px;
	margin-right: 20px;
	display: flex;
	align-items: center; 
	justify-content: center;
	text-align: center;
}

.update-img i{
	color: #ccdcfb;
	font-size: 18pt;
	text-align: center;
}

.update-text{
	text-align: left;
	font-size: 18pt;
	font-weight: 400;
	line-height: 1.25;
	color: white;
}

.personal-container{
	padding-top: 40px;
	width: 100%;
	background-color: #F7FAFC;
}

.personal-section{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.personal-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.personal-row-divider{
	padding-bottom: 20px;
	border-bottom: 1px solid #A0AEC0;
	margin-bottom: 20px;
}

.personal-img{
	height: 100px;
	width: 100px;
	min-height: 100px;
	min-width: 100px;
	margin-right: 20px;
	display: flex;
	align-items: center; 
	justify-content: center;
	text-align: center;
}

.personal-img{
	margin-right: 30px;
}

.personal-img img{
	border: 0px solid white;
	border-radius: 100%;
}

.personal-titles{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
}

.personal-titles h3{
	font-family: Playfair Display;
	font-size: 22pt;
	color: #1A202C;
}

.personal-titles h4{
	font-family: Roboto;
	font-size: 16pt;
	color: #718096;
}

.space-between{
	justify-content: space-between;
}

.nowrap{
    flex-wrap: nowrap;
}

.personal-info-item{
	color: #2D3748;
	font-size: 18pt;
}

.personal-info-item i{
	color: #63B3ED;
	padding-right: 10px;
}

.personal-row h2{
	font-family: Playfair Display;
	color: #1A202C;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 40pt;
	text-transform: capitalize;
}

.personal-row p{
	color: #718096;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16pt;
}

.personal-row .read-more{
	text-decoration: none;
	color: #63B3ED;
	font-weight: bold;
	font-size: 16pt;
}

.personal-row .read-more:hover{
	color: #27475E;
	font-weight: 900;
}

.featured-publications-container{
	margin-top: 40px;
	width: 100%;
	background-color: white;
}

.featured-publications-section{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.featured-publications-panel{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
	max-width: 50%;
}

.current-projects-container{
	margin-top: 60px;
	width: 100%;
	background-color: white;
	margin-bottom: 60px;
}

.current-projects-section{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.current-projects-panel{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
	max-width: 30%;
	box-shadow: 0px 0px 15px rgba(26, 32, 44, 0.05), 0px 15px 25px rgba(26, 32, 44, 0.05);
	border-radius: 4px;
	padding: 20px 20px;
}

.current-projects-panel h4{
	font-weight: bold;
	letter-spacing: 0.04em;
	color: #1A202C;
	font-size: 24pt;
}

.current-projects-panel p{
	color: #718096;
	line-height: 135%;
	font-size: 16pt;
}


/* end - index page */ 

