<!-- Footer legal -->
<div class="footer-container">
	<div class="footer-section">
		<div class="personal-row-col-footer">
			<div class="footer-menu w-100" style="align-content: space-evenly;">
				<h1 id="lecturer-name-id">
					Henrietta Losatter
				</h1>
				<h2 id="position">
					Assosiative Profesor At Sphera Academy
				</h2>
				<p class="footer-description">
					Prof. Losatter is the head of internet academy society and a assosiative professor as Sphera Academy. Finished her PhD long time ago and researched in the field of sicoal-mathematics.
				</p>
				<div class="personal-row footer-details-icons">
						<img title="email" src="/lecture_website_template/img/footer/email.png" />
					<p id="email-address">Losatter.Henrietta@sphera.academy</p>
				</div>
				<div class="personal-row footer-details-icons">
						<img title="phone" src="/lecture_website_template/img/footer/phone.png" />
					<p id="phone-number">+972-501234567</p>
				</div>
				<div class="personal-row">
					<p>Find me on:</p><br>
				</div>
				<div class="personal-row footer-social">
					<a href="#" class="footer-social-icons footer-find-me-mail-and-phone" title="email" id="footer-email">
						<img title="email" src="/lecture_website_template/img/footer/email.png" />
					</a>

					<a href="#" class="footer-social-icons footer-find-me-mail-and-phone" title="phone" id="footer-phone">
						<img title="phone" src="/lecture_website_template/img/footer/phone.png" />
					</a>

					<a href="https://scholar.google.com/" class="footer-social-icons" title="google profile" id="footer-google">
						<img title="google profile" src="/lecture_website_template/img/footer/google.png" />
					</a>
					
					<a href="https://www.linkedin.com/" class="footer-social-icons" title="github profile" id="footer-linkedin">
						<img title="linkedin profile" src="/lecture_website_template/img/footer/linkedin.png" />
					</a>
					
					<a href="https://www.bitbucket.com" class="footer-social-icons" title="bitbucket profile" id="footer-bitbucket">
						<img title="bitbucket profile" src="/lecture_website_template/img/footer/bitbucket.png" />
					</a>
					
					<a href="https://www.github.com" class="footer-social-icons" title="github profile" id="footer-github">
						<img title="github profile" src="/lecture_website_template/img/footer/github.png" />
					</a>
				</div>
			</div>
			<div class="personal-coloum w-100" style="align-content: space-evenly;" id="footer-menu-row"> 
				<div class="footer-bottom-links w-100" style="align-content: space-evenly;">
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/about.html">
							About
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/about.html?section=Biography">
							Biography
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/about.html?section=Personal-projects">
							Personal Projects
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/about.html?section=Recommended-resources">
							Recommended resources
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/research.html">
							Research
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/research.html?section=Ongoing-Projects">
							 Ongoing projects
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/research.html?section=Previous-Projects">
							 Previous projects
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/research.html?section=Work-with-me">
								Work with me
						</a>
					</div>
				</div>
				<div class="footer-bottom-links w-100" style="align-content: space-evenly;">
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/publications.html">
							Publication
						</a>
						<a id="publication-1" class="footer-menu-item" href="/files/publication1.pdf">
							Main publication name 1
						</a>
						<a id="publication-2" class="footer-menu-item" href="/files/publication2.pdf">
							Main publication name 2
						</a>
						<a id="publication-3" class="footer-menu-item" href="/files/publication3.pdf">
							Main publication name 3
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/teaching.html">
							Courses
						</a>
						<a id="course-1" class="footer-menu-item" href="/lecture_website_template/course-page.html?course_id=321">
							 Demo Course 1
						</a>
						<a id="course-2" class="footer-menu-item" href="/lecture_website_template/course-page.html?course_id=321">
							 Demo Course 2
						</a>
						<a id="course-3" class="footer-menu-item" href="/lecture_website_template/course-page.html?course_id=321">
							Demo Course 3
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="footer-section">
	<div class="personal-row center brand-footer" >
		<a href="https://sphera.academy" title="An academic website generator">Powered by <img title="An academic website generator" src="/lecture_website_template/img/logo.png" /></a>
	</div>
</div> 

		
<div class="alert" id="alert-panel-1">
  <span id="alert-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="cite-alert">
  </div>
</div>
		
<div class="alert" id="alert-panel-2">
  <span id="search-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="search-alert">
  </div>
</div>