<!-- Footer legal -->
<div class="footer-container">
	<div class="footer-section">
		<div class="personal-row-col">
			<div class="footer-menu w-100" style="align-content: space-evenly;">
				<h1>
					Lecture Name
				</h1>
				<h2>
					Position position position
				</h2>
				<p class="footer-description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="personal-row footer-details-icons">
						<img title="linkedin profile" src="/lecture_website_template/img/footer/email.png" />
					<p>email.email@email.email</p>
				</div>
				<div class="personal-row footer-details-icons">
						<img title="linkedin profile" src="/lecture_website_template/img/footer/phone.png" />
					<p>+972500000000</p>
				</div>
				<div class="personal-row">
					<p>Find me on:</p><br>
				</div>
				<div class="personal-row footer-social">
					<a href="#" class="footer-social-icons" title="google profile" id="footer-google">
						<img title="google profile" src="/lecture_website_template/img/footer/google.png" />
					</a>
					
					<a href="#" class="footer-social-icons" title="github profile" id="footer-github">
						<img title="linkedin profile" src="/lecture_website_template/img/footer/linkedin.png" />
					</a>
					
					<a href="#" class="footer-social-icons" title="bitbucket profile" id="footer-bitbucket">
						<img title="linkedin profile" src="/lecture_website_template/img/footer/bitbucket.png" />
					</a>
					
					<a href="#" class="footer-social-icons" title="github profile" id="footer-bitbucket">
						<img title="github profile" src="/lecture_website_template/img/footer/github.png" />
					</a>
				</div>
			</div>
			<div class="personal-coloum w-100" style="align-content: space-evenly;" id="footer-menu-row"> 
				<div class="personal-row w-100" style="align-content: space-evenly;"> 
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/about.html">
							About
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/about.html?section=biography">
							Biography
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/about.html?section=personal">
							Personal Projects
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/about.html?section=resources">
							Recommended resources
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/research.html">
							Research
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/research.html?section=ongoing">
							 Ongoing projects
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/research.html?section=previous">
							 Previous projects
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/research.html?section=workwithme">
								Work with me
						</a>
					</div>
				</div>
				<div class="personal-row w-100" style="align-content: space-evenly;"> 
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/publications.html">
							Publication
						</a>
						<a class="footer-menu-item" href="/files/publication1.pdf">
							Main publication name 1
						</a>
						<a class="footer-menu-item" href="/files/publication2.pdf">
							Main publication name 2
						</a>
						<a class="footer-menu-item" href="/files/publication3.pdf">
							Main publication name 3
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/lecture_website_template/teaching.html">
							Courses
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/course-page.html?course_id=321">
							 Demo Course 1
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/course-page.html?course_id=321">
							 Demo Course 2
						</a>
						<a class="footer-menu-item" href="/lecture_website_template/course-page.html?course_id=321">
							Demo Course 3
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="footer-section">
	<div class="personal-row center brand-footer" >
		<a href="https://sphera.academy" title="An academic website generator">Powered by <img title="An academic website generator" src="/lecture_website_template/img/logo.png" /></a>
	</div>
</div> 

		
<div class="alert">
  <span id="alert-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;">&times;</span>
  <div id="cite-alert">
  </div>
</div>
		
<div class="alert">
  <span id="search-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;">&times;</span>
  <div id="search-alert">
  </div>
</div>