<div class="mobile-menu-bg" id="mobile-menu-bg"></div>
<div id="mobile-menu" class="mobile-menu">
	<div class="personal-coloum">
		<h2>Lecture name</h2>
	
		<div class="input-group input-group-mobile">
		  <input class="form-control py-2 border-left-0 border" placeholder="Search" type="search" id="example-search-input" />
		  <span class="input-group-append">
			<button id="header-search-btn" class="btn btn-outline-secondary border-left-0 border search-menu-btn" type="button">
				<i class="fa fa-search"></i>
			</button>
		  </span>
		</div>
		
		<a class="mobile-menu-link" href="/index.html">
			Home
		</a>
		
		<a class="mobile-menu-link">
			Research <i class="fa fa-angle-down" aria-hidden="true"></i>
			<div class="mobile-menu-second-level" id="mobile-menu-second-level-research">
				<a class="mobile-menu-link" href="/academic-publications.html">
					Academic Publications
				</a>
				<a class="mobile-menu-link" href="/academic-students.html">
					Research Students
				</a>
			</div>
		</a>
		
		<a class="mobile-menu-link">
			Courses <i class="fa fa-angle-down" aria-hidden="true"></i>
			<div class="mobile-menu-second-level" id="mobile-menu-second-level-research">
				<a class="mobile-menu-link" href="/course-page-1.html">
					Sample course 1 
				</a>
				<a class="mobile-menu-link" href="/course-page-2.html">
					Sample course 2 
				</a>
				<a class="mobile-menu-link" href="/teaching.html">
					All classes
				</a>
			</div>
		</a>
		
		<a class="mobile-menu-link">
			Projects <i class="fa fa-angle-down" aria-hidden="true"></i>
			<div class="mobile-menu-second-level" id="mobile-menu-second-level-research">
				<a class="mobile-menu-link" href="/openresources.html">
					Open Source
				</a>
				<a class="mobile-menu-link" href="/blog.html">
					Blog 
				</a>
			</div>
		</a>
	</div>
</div>
<nav class="navbar navbar-expand-md main-nav">
	<div class="spacer"></div>
	<a class="logo navbar-brand order-first order-md-0 mx-0" href="/index.html">
	<button class="hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" onclick="document.getElementById('mobile-menu').style.marginLeft = '0px';document.getElementById('mobile-menu-bg').style.marginLeft = '0px';">
	  <span class="hamburger-box">
		<span class="hamburger-inner"></span>
	  </span>
	</button>Lecture Name</a>
	<div class="collapse navbar-collapse w-100">
		<ul class="nav navbar-nav w-100 ">
			<li class="nav-item menu-main-link active">
				<a class="nav-link" href="#">Research <i class="fa fa-angle-down" aria-hidden="true"></i></a>
				<div class="menu-second-level">
					<ul class="menu-second-level-list">
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/academic-publications.html">
								Academic Publications
							</a>
						</li>
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/academic-students.html">
								Research Students
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item menu-main-link">
				<a class="nav-link" href="#">Courses <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
				<div class="menu-second-level">
					<ul class="menu-second-level-list">
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/course-page-1.html">
								Sample course 1 
							</a>
						</li>
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/course-page-2.html">
								Sample course 2 
							</a>
						</li>
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/teaching.html">
								All classes
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item menu-main-link">
				<a class="nav-link" href="#">Projects <i class="fa fa-angle-down" aria-hidden="true"></i></a>
				<div class="menu-second-level">
					<ul class="menu-second-level-list">
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/openresources.html">
								Open Source
							</a>
						</li>
						<li class="menu-second-level-list-item">
							<a class="mobile-menu-link" href="/blog.html">
								Blog 
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="collapse navbar-collapse w-100">
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item menu-main-link">
				<a class="nav-link" href="#">About </a>
			</li>
			<li class="nav-item">
				<div class="input-group">
				  <input class="form-control py-2 border-left-0 border" placeholder="Search" type="search" id="example-search-input" />
				  <span class="input-group-append">
					<button id="header-search-btn" class="btn btn-outline-secondary border-left-0 border search-menu-btn" type="button">
						<i class="fa fa-search"></i>
					</button>
				  </span>
				</div>
			</li>
		</ul>
	</div>
	<div class="spacer"></div>
</nav>