<nav>
	<ul class="menu">
		<li class="logo">
			<a href="index.html" id="lecture_name" title="home page">
				Lecture full name
			</a>
		</li>
		<li class="item">
			<a id="course_page_name" href="courses/demo-course-page.html" title="Demo Course Page ">
			Demo Course Page 
			</a>
		</li>
		<li class="item">
			<a id="course_page_name_2" href="courses/demo-course-page-2.html" title="Demo Course Page 2">
			Demo Course Page 2
			</a>
		</li>
		<li class="item button">
			<a href="/index.html" title="home page"> 
				Short Bio 
			</a>
		</li>
		<li class="item button secondary">
			<a href="/publications.html" title="Publications"> 
				Publications 
			</a>
		</li>
		<li class="item button secondary"> 
			<a href="/opensource.html" title="Open Resources"> 
				Open Resources 
			</a>				
		</li>
		<li class="item button secondary">
			<a href="/teaching.html" title="teaching"> 
				Teaching 
			</a>
		</li>
		<li class="item button secondary"> 
			<a href="/students.html" title="Students"> 
				Students 
			</a>
		</li>
		<li class="toggle">
			<a href="#">
				<i class="fas fa-bars"></i>
			</a>
		</li>
	</ul>
</nav>